{% extends 'base.html.twig' %}

{% block title %}Kaamelott{% endblock %}

{% block body %}



    <form action="{{ path('app_citation_addfavorite') }}" method="post">
        <p>{{ citation.citation.citation }}</p>
        <input type="hidden" name="quote" value="{{ citation.citation.citation }}">
        <input type="hidden" name="character" value="{{ citation.citation.infos.personnage }}">
        <a href="{{ path('app_citation') }}" class="mt-5 btn btn-primary">Charger une citation</a>
        {% if app.user %}
            <button type="submit"  class="mt-5 btn btn-secondary">Sauvegarder une citation</button>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-outline-dark mt-5">Se connecter pour enregistrer des citations</a>
        {% endif %}
    </form>

{% endblock %}
